body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

canvas {
  margin: 0;
  padding: 0;
}

p {
  position: absolute;
  top: 30px;
  left: 50%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  transform: translateX(-50%);
  background: rgba(55, 205, 250, 0.357);
}

small {
  position: absolute;
  bottom: 30px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: rgb(236, 74, 228);
}
small.left {
  left: 30px;
  text-align: left;
}
small.right {
  right: 30px;
  text-align: right;
}
small a {
  display: block;
  margin: 0 0 4px;
  font-weight: 600;
  color: rgb(255, 0, 217);
}
small a:hover {
  text-decoration: underline;
}

#left {
	position: absolute;
	top: 10px;
  left: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}